body {
  background: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

canvas {
  cursor: pointer;
  outline: 1px solid white;
  outline-offset: 1px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: black;
  font: 10pt monospace;
  text-align: right;
  padding: 10pt;
  margin: 5pt;
  border: 1px solid white;
  cursor: default;
  z-index: 999;
  background: rgba(255, 255, 255, 0.75);
}

p span {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}